<table class="table table-bordered registryGoodsTable">
  <thead>
    <tr>
      <% ths.forEach(function(th) { %>
      <th><%= th %></th>
      <% }) %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% tds.forEach(function(td) { %>
      <td><%= td %></td>
      <% }) %>
    </tr>
  </tbody>
</table>
