.idea
/node_modules
/node_modules_tmp
/node_modules_min
/node_modules_dev
/node_modules_prod
/frontend/files
/frontend-build/files
/frontend-pending
/build
/config/production
/config/standalone
/config/development
/config/vps
/data
/bin/fix
