<span class="page-breadcrumbs-datePicker is-variable-width">
  <a class="fa fa-chevron-left" data-action="prev"></a>
  <a class="fa fa-chevron-right" data-action="next"></a>
  <a href="<%= href %>" data-action="showPicker"><%- label %></a>
</span>
