.dailyBalanceList th {
  white-space: nowrap;
}
.dailyBalanceList td {
  width: 1%;
  white-space: nowrap;
}
.dailyBalanceList td:last-child {
  width: auto;
}
.dailyBalanceList .is-number {
  font-size: 1.2em;
}
.currentBalanceBar {
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #F8F8F8;
  border-top: 4px solid #a0f;
  display: flex;
}
.currentBalanceBar > .palletKind {
  display: inline-block;
  padding: 4px 16px;
  line-height: 1;
  flex: 1 1 auto;
}
.currentBalanceBar > .palletKind:hover {
  background: #a0f;
  color: #fff;
}
.currentBalanceBar > .palletKind > .palletKind-label {
  display: block;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.2em;
}
.currentBalanceBar > .palletKind > .palletKind-count {
  display: block;
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 1.4em;
}
.partnerBalanceList .table > tbody > tr > th {
  border-bottom-width: 2px;
}
.partnerBalanceList .table > tbody > tr > th:first-child {
  border-left-width: 0;
}
.partnerBalanceList .table > tbody > tr > th:last-child {
  border-right-width: 0;
}
.partnerBalanceList .table > tbody + tbody {
  border-top-width: 4px;
}
.partnerBalanceList-count {
  display: block;
}
.partnerBalanceList-total {
  background-color: #fbfbfb;
}
.partnerBalanceList-balance {
  background-color: #f6f6f6;
}
.partnerBalanceList .is-positive {
  color: blue;
}
.partnerBalanceList .is-negative {
  color: red;
}
@media print {
  .dailyBalanceList th,
  .dailyBalanceList td,
  .dailyBalanceList tbody,
  .partnerBalanceList th,
  .partnerBalanceList td,
  .partnerBalanceList tbody {
    border-color: #000!important;
    padding: 0 3px!important;
    font-size: 10px!important;
  }
}
