@import url("../vendor/bootstrap/css/bootstrap.css");
@import url("../vendor/bootstrap/css/bootstrap-theme.css");
@import url("../vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css");
@import url("../vendor/font-awesome/css/font-awesome.css");
@import url("../vendor/select2/select2.css");
@import url("./select2.css");
@import url("../app/core/assets/main.css");
@import url("../app/dashboard/assets/main.css");
@import url("../app/palletKinds/assets/main.css");
@import url("../app/partners/assets/main.css");
@import url("../app/registry/assets/main.css");
@import url("../app/reports/assets/main.css");
@import url("../app/events/assets/main.css");
@import url("../app/users/assets/main.css");
@import url("../app/updater/assets/main.css");

#app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
  width: 64px;
  height: 64px;
  font-size: 64px;
  text-align: center;
  color: #aa00ff;
}
#app-loading.error {
  color: red;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #aa00ff;
  text-shadow: none;
}
.navbar-registry > code {
  margin-left: -12px;
  margin-right: 4px;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  text-shadow: 1px 1px 1px #444;
}
.navbar-registry.grn > code {
  background: #fa0;
}
.navbar-registry.gdn > code {
  background: #9e0;
}
.navbar-registry.ob > code {
  background: #0af;
}
